$main-color: #1b9df8;
$active-color: #1e88e5;
$base-color: #f2f2f2;
$simple-color: #fff;
$durk-color: rgba(0, 0, 0, .5);
$alert-color: #900;
$lite-alert-color: #FDD;
$succeed-color: rgba(30, 130, 76, .5);
$error-color: rgb(255, 0, 0, .5);

body {
  position: relative;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}
