@import '../../../index.scss';

.win-popup {
  width: 556px;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $simple-color;
}

.win-popup-link {
  width: 53px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: $main-color;
  margin-top: 28px;
  text-decoration: none;
  color: $simple-color;
}
