@import './../../../index.scss';

.rule-number {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $simple-color;
  background-color: $main-color;
  margin-right: 16px;
}
